.env
.python-version
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

*.log

# Data files (source of truth is in killrvideo-data project)
data/
logs/
dsbulk.conf

certs/

.vscode/
vars
